body {
  margin: 0;
}

.App {
  height: 160vh;
  width: 100vw;
  margin: 0;
  background-color: #eff9f4;
  font-family: arial;
  position: absolute;
}

.graph-container {
  height: 48vh;
  width: 42vw;
  position: absolute;
  top: 98vh;
  left: 10vw;
  background-color: #F9F9FF;
  border-top: 4px solid rgb(30, 108, 117);
  border-bottom: 4px solid rgb(30, 108, 117);
}

.table-container {
  display: flex;
  justify-content: center;
  align-content: space-between;
  overflow: scroll;
  top: 14vh;
  height: 70vh;
  width: 90%;
  position: absolute;
  margin-top: 50px;
  left: 60px;
}

