body {
  margin: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #eff9f4;
  font-family: arial;
}

.chart {
  height: 70vh;
  width: 80vh;
  position: absolute;
  top: 17vh;
  left: 32vw;
  background-color: #FAFAFA;
  border-top: 2px solid rgb(30, 108, 117);
  border-bottom: 2px solid rgb(30, 108, 117);
}
.graph-container {
  height: 85vh;
  width: 81vw;
  position: absolute;
  top: 17vh;
  left: 32vw;
  background-color: #FAFAFA;
  border-top: 2px solid rgb(30, 108, 117);
  border-bottom: 2px solid rgb(30, 108, 117);
}

.table-container {
  display: flex;
  justify-content: center;
  align-content: space-around;
  overflow: scroll;
}

