.filter {
  height: 32vh;
  width: 29.8vw;
  border-top: 2px solid rgb(30, 108, 117);
  border-bottom: 1px solid rgb(30, 108, 117);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #FAFAFA;
}

.filter select {
  height: 3.5vh;
  width: 25%;
  margin: 1%;
  border: 1px solid rgb(30, 108, 117);
  border-radius: 1em;
}

.filter button {
  height: 3vh;
  width: 18%;
  border-radius: .2em;
  border-style: none;
  color: white;
  background-color: rgb(30, 108, 117);
}

.filter h2 {
  margin: 0;
}

.filter p {
  margin: 0;
}

.drop-down {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30vw;
}


