.Header {
  height: 15vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Header h1 {
  margin: 2%;
}
