table {
  background-color: #386658;
  width: 100%;
  margin-bottom: 6px;
  border-radius: 7px;
  font-size: 20px;
}

th, td {
  padding: 15px;
  text-align: center;
}

tr:hover {
  background-color: #f5f5f5
}

.id{
  width: 20px;
}
.first{
  width:50px;
}
.last{
  width: 50px;
}
.position{
  width: 50px;
}
.cs{
  width: 50px;
}
.gc{
  width: 50px;
}
.saves{
  width: 50px;
}
.yc{
  width: 50px;
}
.rc{
  width: 50px;
}
.assists{
  width: 50px;
}
.scored{
  width: 50px;
}
.total{
  width: 50px;
}
.ppg{
  width: 50px;
}
.cost{
  width: 50px;
}
.value{
  width: 50px;
}
.pace{
  width: 50px;
}
.button{
  width: 50px;
}

