table {
  border-spacing: 0;
  background-color: red
}



td {
  padding: 5px 7px;
}

.jsonOdd {
  background: #eee;
}

.rowSelected {
  background: #ffe;
}
.cellSelected {
  background: #eef;
}
.headerSelected {
  color: blue;
}
